.whole-page {
  background-image: url('../pics/background-living-room.jpg');
}

#overlay {
  width: 100%;
  background: rgba(3,1,50,0.4);
}

.span-card {
  width: 100%;
  text-align: center;
}

.contact-page-main {
  margin: 10rem 0;
}

.contact-info {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
}

.contact-info-box {
  width: 90%;
  max-width: 400px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 5px;
}

.info-item {
  margin-top: 2rem;
  margin-left: 3rem;
}

.info-item:last-child {
  margin-bottom: 3rem;
}

.info-header {
  font-size: 1.5rem;
}

form {
  max-width: 700px;
  width: 90%;
  background: white;
  margin: 4vh auto 0 auto;
  padding: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.contact-info-box h3 {
  margin-top: 2rem;
}

label {
  display: block;
  margin: 20px 0;
}

input, textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid #d3d3d3;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  border-bottom: 1px solid rgb(3,65,100);
}


textarea::-webkit-scrollbar {
  width: 4px;
}
textarea::-webkit-scrollbar-thumb {
  background-color: rgb(3,65,100);
}

.center {
  text-align: center;
}

input[type="submit"] {
  margin-top: 30px;
  width: 90%;
  max-width: 200px;
  background: linear-gradient(to right, rgb(3,1,50), rgb(3,65,100));
  color: white;
  font-size: 1.7rem;
  cursor: pointer;
  border-radius: 3px;
}

.error {
  color: red;
}

.error-border {
  border-bottom: 1px solid red;
}

#success {
  color: #28a745;
}

form h3,
.contact-info-box h3 {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
}


@media screen and (max-width: 786px) {
  .contact-page-main {
    margin: 20rem 0;
  }
}
